@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-style: 14px;

}

.header_wrapper .top_strip {
    padding: 8px 0;
}
.header_wrapper .top_strip p {
    color: white;
    font-size: 12px;
    font-weight: 500;
}
 
.bg_blue {
    background-color: #233a95;
}
.container {
    max-width: 85%;
}

@media (min-width:1300px) {
    .container .container-lg, .container-md, .container-sm, .container-x1 {
        max-width: 1200px  ;
    }
}

::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}
::-webkit-scrollbar-thumb {
    background: #ccc !important;
}
::-webkit-scrollbar-track {
    background-color: transparent !important;
}
.header_wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;

}

.header_wrapper .header {
    width: 100%;
    height: auto;
    padding: 15px 0;
    
}
.logoWrapper img {
    width: 100%;
}
.header_wrapper .header .part2 .countryDrop {
    width: 170px;
    height: 45px;
    min-width: 170px;
    color: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 7px;
    padding: 10px 15px;

}
.header_wrapper .header .part2 .countryDrop {
    text-align-last: left;
    justify-content: flex-start;
}
.header_wrapper .header .part2 .countryDrop .label {
    font-size: 12px !important;
    text-transform: capitalize !important;
    color: rgba(0, 0, 0, 0.7) !important;
    line-height: 16px;
   
}
.header_wrapper .header .part2 .countryDrop .name {
    font-size: 14px !important;
    text-transform: capitalize !important;
    color: #233a95 !important;
    font-weight: 700;
    line-height: 16px;
   

}

.header_wrapper .header .part2 .countryDrop span.ml-auto svg{
    opacity: 0.7;
}

 .headerSearch {
    width: 60%;
    height: 50px;
    background: #f3f4f7;
    padding: 5px;
    position: relative;
    border-radius: 10px;

}
 .headerSearch input {
    width: 100%;
    height: 40px;
    background: transparent !important;
    outline: none !important;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border: none !important;
    padding: 0px 20px !important;
}
 .headerSearch button {
    position: absolute;
    top: 6px;
    right: 15px;
    z-index: 100;
    min-width: 40px !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    color: #000;

}
 .headerSearch button svg {
    font-size: 25px;
} 
.header .part3 .circle {
    align-items: center;
    justify-content: center;
    min-width: 45px !important;
    height: 45px !important;
    width: 45px !important;
    border-radius: 50% !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: #000;
}

.cartTab  .price{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8) !important;
    font-weight: 700;

}

.cartTab button {
    background-color: #fff1ee !important;
   

}
.cartTab button svg {
    color: #ea2b0f !important;
}
.cartTab .count {
    position: absolute;
    top: -5px;
    right: -4px;
    background: #ea2b0f;
    border-radius: 50%;
    color: #fff;
    width: 20px !important;
    height: 20px !important;
    font-size: 13px;
}

.locationModal .MuiPaper-elevation {
    padding: 25px;
    position: relative;
}
.locationModal h4 {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}
.locationModal p {
    width: 90%;
    font-size: 15px;
    padding: 5px 1px;

}
.locationModal .countryList {
    margin-bottom: 0;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.locationModal .countryList li {
    width: 100%;
    list-style: none;
}
.locationModal .countryList li button {
    padding: 15px 20px !important;
    width: 100%;
    text-transform: capitalize !important;
    color: #000 !important;
    justify-content: flex-start !important;

}
.locationModal .countryList li button:hover  {
   background: #f1f1f1 !important; 
}
.locationModal .countryList li button.active{
    background: #e2e2e2;
}
.locationModal .close_ {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000 !important;
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}
.locationModal .close_ {
    font-size: 22px;
}


/*  Second Navigation */

nav .allCatTab {
    background: #2bbef9;
    padding: 10px 15px !important;
    border-radius: 30px !important;
}
nav .allCatTab *{ 
    color: #fff;
}
nav .allCatTab:hover {
    background: #2bbef9;
}
nav .allCatTab .text {
    font-weight: 600;
}
nav .allCatTab .icon1 svg {
    font-size: 20px !important;
}
nav .allCatTab .icon2 svg {
    font-size: 15px !important;
}

 nav .navpart1 .catWrapper  {
    position: relative;
  }
  nav .navpart1 .catWrapper .sidebarNav  {
   width: 80%;
   height:auto;
   background: white;
   position: absolute;
   top: 55px;
   left: 0px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 15px;
   z-index: 100;
  }

  nav .navpart1 .catWrapper .sidebarNav ul li {
    width: 100%;
    list-style: none;
    padding-top: 16px;
    padding-left: 4px;
    font-size: 14px;
   
  }
  nav .navpart1 .catWrapper .sidebarNav .sidebar_list_Link .list_link {
    color: #000;
    text-decoration: none;
    width: 100%;
    justify-content: flex-start;
    font-weight: bold;
  
  }
  nav .navpart1 .catWrapper .sidebarNav ul li .list_link:hover {
    color: #06b0f3;
    transition: 1s ease-in-out;
    font-weight: bold;
    font-size: 16px;
  }



 nav .navpart2 ul{
    margin-bottom: 0;
    display: flex;
    
   
}
nav .navpart2 .list_inline_item {
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
   text-transform: capitalize;
   padding: 8px 10px;
   transition: all 0.2s ease-in-out;
   border-radius: 25px;
   
}
nav .navpart2 .list_inline_item .list_link {
    color: #2bbef9;
    text-decoration: none;
}
nav .navpart2 .list_inline_item  :hover {
    background-color: #024763;
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 10px 7px;
    letter-spacing: 3px;
    font-size: 12px;
}
.homeBanner_section {
    margin-top: 0.3rem;
    position: relative;
    overflow: hidden;
}
.homeBanner_section .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    height: 40px !important;
    background: #000;
    border-radius: 100%;
    
}
slick-next:before, .slick-prev:before  {
    color: white;
   
}
.homeBanner_section .slick-arrow.slick-next {
    right: 25px;
}
.homeBanner_section .slick-arrow.slick-prev {
    left: 25px;
}

.image_style {
    width: 800px ;
    height: 500px;
    
}
.image_style img {
    object-fit: cover;
}
.homeBanner_section * {
    outline: none !important;
}

.homeProducts {
    padding: 25px 0px;
    width: 100%;
}
.homeProducts .banner {
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
}
.text_small {
    font-size: 13px;
    
}
.info h4 {
    color: rgba(0, 0, 0, 0.6);
}
.viewAllBtn {
   position: absolute;
    right: 0%;
    padding: 5px 5px !important;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 30px !important;
    color: #414141 !important;
    font-size: 14px !important;
    text-transform: capitalize !important;
   
    width: 200px;
}
.viewAllBtn svg {
    font-size: 20pxs;
}

.productRow {
   
    width: 100%;

}
.productRow span {
    padding: 0 0px;
}

.productItem {
    width: 100%;
    height: 25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
  
}
.productItem .info {
    padding: 9px;
}
.productItem .info h4 {
    font-size: 15px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    padding-top: 10px;
}
 .instock span {
    background-color: red!;
}
 .instock {
  color: rgb(5, 253, 5) !important;
  font-size: 16px !important;
  font-weight: bold;
    
}

.css-1nbsiwm-MuiRating-root {
    color: red !important;
    font-size: 10px !important;
    width: 100px !important;

}

