@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-style: 14px;

}

.header_wrapper .top_strip {
    padding: 8px 0;
}
.header_wrapper .top_strip p {
    color: white;
    font-size: 12px;
    font-weight: 500;
}
.top_strip {

} 
.bg_blue {
    background-color: #233a95;
}

.header_wrapper .header {
    width: 100%;
    height: auto;
    padding: 15px 0;
    
}
.logoWrapper img {
    width: 100%;
}
.header_wrapper .header .part2 .countryDrop {
    width: 150px;
    height: 60px;
    min-width: 150px;
    color: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 7px;
    padding: 10px 10px;

}
.header_wrapper .header .part2 .countryDrop {
    text-align-last: left;
    justify-content: flex-start;
}
.header_wrapper .header .part2 .countryDrop .label {
    font-size: 12px !important;
    text-transform: capitalize !important;
    color: rgba(0, 0, 0, 0.7) !important;
    line-height: 16px;
   
}
.header_wrapper .header .part2 .countryDrop .name {
    font-size: 14px !important;
    text-transform: capitalize !important;
    color: #233a95 !important;
    font-weight: 700;
    line-height: 16px;
   

}

.header_wrapper .header .part2 .countryDrop span.ml-auto svg{
    opacity: 0.7;
}

