@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-style: 14px;

}

.header_wrapper .top_strip {
    padding: 8px 0;
}
.header_wrapper .top_strip p {
    color: white;
    font-size: 12px;
    font-weight: 500;
}
 
.bg_blue {
    background-color: #233a95;
}

.header_wrapper .header {
    width: 100%;
    height: auto;
    padding: 15px 0;
    
}
.logoWrapper img {
    width: 100%;
}
.header_wrapper .header .part2 .countryDrop {
    width: 170px;
    height: 60px;
    min-width: 170px;
    color: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 7px;
    padding: 10px 15px;

}
.header_wrapper .header .part2 .countryDrop {
    text-align-last: left;
    justify-content: flex-start;
}
.header_wrapper .header .part2 .countryDrop .label {
    font-size: 12px !important;
    text-transform: capitalize !important;
    color: rgba(0, 0, 0, 0.7) !important;
    line-height: 16px;
   
}
.header_wrapper .header .part2 .countryDrop .name {
    font-size: 14px !important;
    text-transform: capitalize !important;
    color: #233a95 !important;
    font-weight: 700;
    line-height: 16px;
   

}

.header_wrapper .header .part2 .countryDrop span.ml-auto svg{
    opacity: 0.7;
}

.header .headerSearch {
    width: 60%;
    height: 60px;
    background: #f3f4f7;
    padding: 10px;
    position: relative;
}
.header .headerSearch input {
    width: 100%;
    height: 40px;
    background: transparent !important;
    outline: none !important;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border: none !important;
    padding: 0px 20px !important;
}
.header .headerSearch button {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 100;
    min-width: 40px !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    color: #000;

}
.header .headerSearch button svg {
    font-size: 25px;
} 
.header .part3 .circle {
    align-items: center;
    justify-content: center;
    min-width: 45px !important;
    height: 45px !important;
    width: 45px !important;
    border-radius: 50% !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: #000;
}

.cartTab  .price{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8) !important;
    font-weight: 700;

}

.cartTab button {
    background-color: #fff1ee !important;
   

}
.cartTab button svg {
    color: #ea2b0f !important;
}
/* .header .part3 .cart_circle {
    align-items: center;
    justify-content: center;
    min-width: 45px !important;
    height: 45px !important;
    width: 45px !important;
    border-radius: 50% !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: #000;
    background-color: #fff1ee !important;
} */
/* 
.header .part3 .circle svg {
    font-size: 22px;
}
.cartTab  .price{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8) !important;
    font-weight: 700;

}
.cartTab button {
    background-color: #fff1ee !important;
    border-radius: 30px;
    width: 30px;
    height: 50px;

}
.cartTab button svg {
    color: #ea2b0f !important;
} */
/* .cartTab .count {
    position: absolute;
    top: 0px;
    right: 0;
    background: #ea2b0f;
    border-radius: 50%;
    color: #fff;
    width: 25px !important;
    height: 25px !important;
} */


